.classynav ul {
    display: inline-block;
    position: relative;
}

/* Styles for dropdown menus */
.classynav ul ul {
    min-width: 300px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* done */

.classynav ul ul li {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    margin: 0;
    color: #333;
    background-color: #fff;
    width: auto;
    white-space: nowrap;
}

/* semi-done */


.classynav ul ul li a {
    color: #333;
    display: block;
    text-decoration: none;
}

/* Show dropdown menus on hover */
.classynav ul li:hover>ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
}

.classynav ul ul li:hover {
    background-color: #f2f2f2;
}

/* Base styles */

/* Adjustments for smaller screens (e.g., mobile devices) */
/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
    .classy-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .crose-main-menu {
        display: none;
    }

    .classy-nav-container {
        /* display: none; */
    }

    .classy-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        /* Adjust background color as needed */
        z-index: 1000;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .classy-menu.active {
        display: flex;
    }

    .classynav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
    }

    .classynav ul li {
        margin-bottom: 20px;
        /* Adjust spacing between menu items */
    }

    .classynav ul li a {
        font-size: 18px;
        /* Adjust font size as needed */
    }

    .navbarToggler {
        display: block;
    }
}